body {
  font-family: "Nunito Sans", sans-serif;
}

select {
  background-color: hsl(209, 23%, 22%);
  color: hsl(0, 0%, 100%);
}

option {
  background-color: hsl(209, 23%, 22%);
  color: hsl(0, 0%, 100%);
}

.selectcustom {
  &, &::picker(select) {
    appearance: base-select;
  }
}

/* .optioncustom {
  border: 0;
  -webkit-appearance: none;
} */

.dark {
  background-color: hsl(207, 26%, 17%);
  color: hsl(0, 0%, 100%);
}

.fullscreen {
  min-width: 100vw;
  min-height: 100vh;
}

.dark .dark-alt {
  background-color: hsl(209, 23%, 22%);
  color: hsl(0, 0%, 100%);
}

.dark button {
  background-color: hsl(209, 23%, 22%);
  color: hsl(0, 0%, 100%);
}

.flex {
  display: flex;
}

.jc-spacebetween {
  justify-content: space-between;
}

.ai-center {
  align-items: center;
}

.ml-05rem{
  margin-left: 0.5rem;
}

.ml-20rem{
  margin-left: 2rem;
}

.fs-15rem{
  font-size: 1.5rem;
}

.fw-300 {
  font-weight: 300;
}

.fw-600 {
  font-weight: 600;
}

.fw-800 {
  font-weight: 800;
}

.p-12rem{
  padding: 1.2rem;
}

/* - Dark Blue (Dark Mode Elements): hsl(209, 23%, 22%) // #2b3945
- Very Dark Blue (Dark Mode Background): hsl(207, 26%, 17%)
- Very Dark Blue (Light Mode Text): hsl(200, 15%, 8%)
- Dark Gray (Light Mode Input): hsl(0, 0%, 52%)
- Very Light Gray (Light Mode Background): hsl(0, 0%, 98%)
- White (Dark Mode Text & Light Mode Elements): hsl(0, 0%, 100%)

// <weight>: Use a value from 200 to 1000
// <uniquifier>: Use a unique and descriptive class name

.nunito-sans-<uniquifier> {
  font-family: "Nunito Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100,
    "YTLC" 500;
}

*/