body {
  font-family: "Nunito Sans", sans-serif;
  background-color: hsl(0, 0%, 98%);
}

button {
  margin: 0.25rem;
  box-shadow: 0 0 2px hsl(0, 0%, 52%);
}

.top-button {
  background-color: hsl(0, 0%, 98%);
}

.dark button {
  background-color: hsl(209, 23%, 22%);
  color: hsl(0, 0%, 100%);
}

.dark .top-button {
  background-color: hsl(209, 23%, 22%);
}

select {
  background-color: hsl(0, 0%, 100%);
  color: hsl(209, 23%, 22%);
  cursor: pointer;
}

img {
  background-color: hsl(209, 23%, 22%);
}

.dark select {
  background-color: hsl(209, 23%, 22%);
  color: hsl(0, 0%, 100%);
}

option {
  background-color: hsl(0, 0%, 100%);
  color: hsl(209, 23%, 22%);
}

.dark option {
  background-color: hsl(209, 23%, 22%);
  color: hsl(0, 0%, 100%);
}

.selectcustom {

  &,
  &::picker(select) {
    appearance: base-select;
  }
}

.dark {
  background-color: hsl(207, 26%, 17%);
  color: hsl(0, 0%, 100%);
}

.fullscreen {
  min-width: 100vw;
  min-height: 100vh;
}

.dark-alt {
  background-color: hsl(0, 0%, 100%);
  color: hsl(209, 23%, 22%);
  box-shadow: 0 0 6px hsl(0, 0%, 52%);
}

.dark .dark-alt {
  background-color: hsl(209, 23%, 22%);
  color: hsl(0, 0%, 100%);
}

.flex {
  display: flex;
}

.jc-spaceevenly {
  justify-content: space-evenly;
}

.jc-spacebetween {
  justify-content: space-between;
}

.ai-center {
  align-items: center;
}

.ml-05rem {
  margin-left: 0.5rem;
}

.ml-20rem {
  margin-left: 2rem;
}

/* @media (max-width: 980px) {
  .ml-58rem {
    margin-left: 5.8rem;
  }
} */

.pr-80rem {
  padding-right: 8rem;
}

.mr-80rem {
  margin-right: 8rem;
}

.fs-15rem {
  font-size: 1.5rem;
}

.fw-300 {
  font-weight: 300;
}

.fw-600 {
  font-weight: 600;
}

.fw-800 {
  font-weight: 800;
}

.p-12rem {
  padding: 1.2rem;
}

.of-contain {
  object-fit: contain;
}

.wh100 {
  width: 100%;
  height: 100%;
}

.country-card {
  width: 1298px;
  height: 401px;
}

.card {
  width: 264px;
  height: 336px;
  border-radius: 4px;
  margin: 2rem;
  cursor: pointer;
}

.card-content {
  padding-left: 1rem;
}

.card-title {
  font-size: 1.25rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

/* black border in case flag has white in its border */
.card-img-container {
  width: 264px;
  height: 176px;
  border: 1px solid hsl(209, 23%, 22%);
}

.card-large-img-container {
  max-width: 560px;
  max-height: 401px;
  border: 1px solid hsl(207, 26%, 17%);
}

.cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.flex-wrap {
  flex-wrap: wrap;
}

.loader {
  width: 48px;
  height: 48px;
  border: 5px solid #FFF;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/* - Dark Blue (Dark Mode Elements): hsl(209, 23%, 22%) // #2b3945
- Very Dark Blue (Dark Mode Background): hsl(207, 26%, 17%)
- Very Dark Blue (Light Mode Text): hsl(200, 15%, 8%)
- Dark Gray (Light Mode Input): hsl(0, 0%, 52%)
- Very Light Gray (Light Mode Background): hsl(0, 0%, 98%)
- White (Dark Mode Text & Light Mode Elements): hsl(0, 0%, 100%)

// <weight>: Use a value from 200 to 1000
// <uniquifier>: Use a unique and descriptive class name

.nunito-sans-<uniquifier> {
  font-family: "Nunito Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100,
    "YTLC" 500;
}

*/